[submodule "rabbitmq-cluster-operator"]
	path = rabbitmq-cluster-operator
	url = https://github.com/rabbitmq/cluster-operator.git
[submodule "rabbitmq-messaging-topology-operator"]
	path = rabbitmq-messaging-topology-operator
	url = https://github.com/rabbitmq/rabbitmq-messaging-topology-operator.git
[submodule "rabbitmq-ib"]
	path = rabbitmq-ib
	url = https://repo1.dso.mil/dsop/bitnami/rabbitmq/rabbitmq312.git