[submodule "redis-ib"]
	path = redis-ib
	url = https://repo1.dso.mil/dsop/opensource/redis/redis7.git
[submodule "bitnami-redis-ib"]
	path = "bitnami-redis-ib"
	url = https://repo1.dso.mil/dsop/bitnami/redis.git
